:root {
    /* cores */
    --first-color: #01b74d;
    --second-color: #e7d7a1;
    --white-color: #fef8f0;
    --black-color: #132f3a;
  
    /* tipografia */
    --font-geral: "Roboto", sans-serif;
    --font-logo: "Italiana", serif;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 2rem;
    /* --h3-font-size: 1rem; */
    --normal-font-size: 1.3rem;
    /* --small-font-size: 0.813rem; */
  
    /* font weight  */
    /* --font-light: 300; */
    --font-medium: 400;
    --font-bold: 700;
  
    /* margins */
    /* --m-1: 0.5rem; */
    /* --m-2: 1rem; */
    /* --m-3: 1.5rem; */
    /* --m-4: 2rem; */
    --m-5: 2.5rem;
    /* --m-6: 3rem; */
  
    /* z indexs */
    --z-fixed: 100;
    /* --z-tooltip: 10; */
  }